#login {
    padding-top: 10%;
}

.time-line {
    position: relative;
    padding-left: 220px;
    padding-right: 25px;
}

.time-line::before {
    content: ' ';
    position: absolute;
    left: 180px;
    top: 12px;
    bottom: 42px;
    width: 6px;
    background: #ddd;
}

.time-line-date {
    position: absolute;
    left: -160px;
    color: #444;
    font-size: 12px;
    font-weight: bold;
    width: 96px;
    text-align: right;
}

.time-line-date::before {
    position: absolute;
    content: ' ';
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 4px solid #444;
    background: #fff;
    right: -38px;
    top: 4px;
}

.time-line .card-body {
    padding: 0.7rem;
}

.time-line .card-footer {
    padding: 0.5rem 0.7rem;
}

@media (max-width: 678px) {
    .time-line {
        padding-left: 140px;
        padding-right: 0;
    }

    .time-line::before {
        left: 100px;
    }
}
